/platforms/jgenui-swing/nbproject/private/
/examples/SwingThemeSwitcher/nbproject/private/
/examples/SwingThemeSwitcher/build/
/platforms/jgenui-swing/build/
/build/
/dist/
/platforms/jgenui-swing/dist/
/examples/SwingThemeSwitcher/dist/
/platforms/jgenui-lwjgl/nbproject/private/
/nbproject/private/
/platforms/AndroidApplication1/gen/
/platforms/AndroidApplication1/bin/
/platforms/jgenui-android/gen/
/platforms/jgenui-android/bin/
/platforms/jgenui-android/nbandroid/